@charset "utf-8";
/* CSS Document */

.faq-down {
	background-image:url('/1/content/canada4/images/common/arrow-down.gif');
	background-position: 1px 3px;
	background-repeat: no-repeat;
	padding-left: 21px;
	cursor:pointer;
}
.faq-up {
	background-image:url('/1/content/canada4/images/common/arrow-up.gif');
	background-position: 1px 3px;
	background-repeat: no-repeat;
	padding-left: 21px;
	cursor:pointer;
}
dd{
	padding: 0 0 10px 21px;
}

.faq-down:hover{
	text-decoration:underline;
}
